# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/app_test.*
.idea
.rsync_cache
coverage

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
