# http://about.travis-ci.org/docs/user/build-configuration/
language: php

php:
#  - 5.3.3
  - 5.3
  - 5.4

before_script: 
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - composer install
  - php app/console doctrine:database:create -e=test
  - php app/console doctrine:schema:create -e=test
  - php app/console doctrine:fixtures:load -e=test -n

script: phpunit -c app
