body {
    background-color: #f5f5f5;
    margin: 0px;
}

#inside_content {
    padding: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

#mainContainer {
    background-color: white;
    margin-top: 60px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
}

/* Login css */
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 30px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
/* End login css */

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* List css */
.list_primary_buttons {
    float: right;
    clear: both;
    margin: 20px 10px 30px;
}
/* End list css */

/* Start invoice css */
.lines {
    list-style-type: none;
    clear: both;
    margin-left: 5px;
}

.lines li {
    clear: both;
    padding-left: 0;
}

.lines li div {
    float: left;
    /*display: inline-block;*/
    /*margin: 5px 10px;*/
}

#add_line_link {
    margin-top: 10px;
}

.delete_line_link {
    margin: 0 0 0 25px;
}

.delete_line_link i {
    line-height: 20px;
    margin-top: 19px;
}

.lineHeader .lineDesc, .lineHeader .lineQty, .lineHeader .lineUC, .lineHeader .lineDiscount, .lineHeader .lineTaxes {
    font-weight: bold;
    text-align: center;
}

.lineDesc {
    text-align: left;
}

.lineQty, .lineUC, .lineDiscount, .lineTaxes {
    text-align: right;
}

.lineDesc, .lineQty, .lineUC, .lineTaxes, .lineDiscount {
    border: 1px solid #ccc;
    padding: 4px;
}

.lineDesc {
    width: 290px;
}

.lineQty, .lineUC, .lineTaxes, .lineDiscount {
    width: 100px;
}

/* End invoice css */