body {
    background-color: #f5f5f5;
    margin: 0px;
}

#inside_content {
    padding: 30px 10px 20px 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

#mainContainer {
    background-color: white;
    margin-top: 60px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
}

.absolute_body {
    background-color: white;
}

.absolute_body #mainContainer {
    border: none;
    line-height: 14px;
}

.absolute_body #inside_content {
    margin-left: 100px;
}

#languages {
    float: right;
    clear: both;
}

#languages ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

#languages ul li {
    display: inline;
}

/* Login css */
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 30px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
/* End login css */

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* List css */
#formFilter, #advancedSearchBtnDiv {
    display: inline-block;
}

.statusCheckbox label {
    margin: -10px 0px 0px 0px;
}

.statusCheckbox .checkbox label {
    margin-right: 14px;
    margin-left: 5px;
    font-size: 0.9em;
    border-bottom: 1px solid #e5e5e5;
}

.searchBox {
    padding: 0px 0px 0px 0px;
    border: 1px solid #DCDCDC;
    background-color: #F6F6F6;
    margin-bottom: 1em;
}

#searchBtn {
    float: right;
}

#aSearchBtns {
    margin-top: 5px;
}

#extended_search_i_status {
    display: inline-block;
}

.resetSearchBtn {
    display: none;
    margin-left: 10px;
    margin-right: 10px;
}

.form-search {
    margin: 0.8em 0.8em 0.8em 0.8em;
}

#advancedSearch {
    display: none;
}

.list_primary_buttons {
    float: right;
    margin: 30px 28px 0px 28px;
}

.bottom-actions {
    float: right;
    margin: 5px 28px 0px 28px;
    clear: both;
}

.list_secondary_buttons {
    float: left;
    margin: 30px 28px 0px 28px;
}

#results_datagrid {
    clear: both;
}

#results_datagrid table tfoot {
    background-color: #f9f9f9;
}

#results_datagrid table tfoot .datagrid-footer-left {
    float: left;
}

#results_datagrid table  tfoot .datagrid-footer-left .grid-controls {
    margin-top: 7px;
}

#results_datagrid table  tfoot .datagrid-footer-left .grid-controls select {
    width: 60px;
    margin: 0 5px 1px;
}

#results_datagrid table  tfoot .datagrid-footer-left .grid-controls .grid-pagesize {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
}

#results_datagrid table  tfoot .datagrid-footer-left .grid-controls .grid-pagesize .dropdown-menu {
    top: auto;
    left: auto;
}

#results_datagrid table  tfoot .datagrid-footer-left .grid-controls span {
    font-weight: normal;
}

#results_datagrid table  tfoot .datagrid-footer-right {
    float: right;
}

#results_datagrid table  tfoot .datagrid-footer-right .grid-pager > span {
    position: relative;
    top: 8px;
    font-weight: normal;
}

#results_datagrid table  tfoot .datagrid-footer-right .grid-pager .dropdown-menu {
    min-width: 50px;
}

#results_datagrid table  tfoot .datagrid-footer-right .grid-pager .combobox {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-bottom: 4px;
    vertical-align: baseline;
}

#results_datagrid table  tfoot .datagrid-footer-right .grid-pager > .btn {
    position: relative;
    top: 7px;
}

#results_datagrid table  tfoot .dropdown-menu > li > a:hover, #results_datagrid table  tfoot .dropdown-menu > li > a:focus, #results_datagrid table  tfoot .dropdown-submenu:hover > a, #results_datagrid table  tfoot .dropdown-submenu:focus > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

#results_datagrid table  tfoot .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.sortable {
    color: #333333;
}

.sortable:hover {
    color: #5b5b5b;
}

#results_datagrid table thead {
    background-color: #f9f9f9;
}

#results_datagrid table thead .sorted {
    color: #333333;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bebebe;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}

ul.payments li {
    list-style-type: none;
    display: table-row;
}

ul.payments li ul li {
    float: left;
    margin: 0em 1em 0.5em 0em;
}


.payments li ul.payment {
    border-bottom: 1px solid #e5e5e5;
    height: 20px;
    clear: both;
}

.paymentDate {
    width: 100px;
}

.paymentAmount {
    width: 150px;
}

.paymentNotes {
    width: 300px;
}

.modalPayments {
    width: 800px; /* SET THE WIDTH OF THE MODAL */
    left: 40%; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}
/* End list css */

/* Start invoice css */
#companyInfo {
    float: right;
    width: 30%;
}
.lines {
    list-style-type: none;
    clear: both;
    margin-left: 5px;
}

.lines li {
    clear: both;
    padding-left: 0;
}

.lines li div {
    float: left;
    /*display: inline-block;*/
    /*margin: 5px 10px;*/
}

#add_line_link {
    margin-top: 10px;
}

.delete_line_link {
    position: absolute;
    top: 13px;
    left: -25px;
    /*margin: 0 0 0 25px;*/
}

.delete_contact_link {
    position: absolute;
    top: 30px;
    left: -25px;
}

.delete_line_link i {
    line-height: 50px;
    /*margin-top: 19px;*/
}

.lineHeader .lineDesc, .lineHeader .lineQty, .lineHeader .lineUC, .lineHeader .lineDiscount, .lineHeader .lineTaxes {
    /*font-weight: bold;*/
    text-align: center;
    font-style: italic;
}

.lineDesc {
    text-align: left;
    position: relative;
}

.lineQty, .lineUC, .lineDiscount, .lineTaxes, .linePrice {
    text-align: right;
}

.lineName {
    width: 285px;
    position: relative;
}
.lineMail
{
    width: 221px;
}

.linePhone {
    width: 165px;
}

.lineNotifications {
    width: 150px;
}

.lineNotifications input[type=checkbox] {
    margin-top: 0;
}

.checkbox.inline+.checkbox.inline {
    margin-left: 0;
}

.lineDesc, .lineQty, .lineUC, .lineTaxes, .lineDiscount, .linePrice, .lineName, .lineMail, .linePhone, .lineNotifications {
    border: 1px solid #DCDCDC !important;
    vertical-align: middle;
    padding: 4px;
}

.border_total {
    border: 1px solid #DCDCDC !important;
}

.lines th {
    background-color: #e9e9e9;
    font-size: 0.9em;
    font-weight: normal;
}

th.border_total {
    background-color: #e9e9e9;
    text-align: left;
    padding: 4px;
    font-size: 0.9em;
    font-weight: normal;
}

.lineDesc {
    width: 310px;
}

.lineQty, .lineUC, .lineDiscount {
    width: 100px;
}

.lineTaxes {
    width: 250px;
}


.common_totals {
    text-align: right;
}

.field_checkbox_label {
    display: inline-block;
    width: 150px;
}

.date_input {
    display: inline-block;
}
.date_input select {
    width: 80px;
}

div.inputDiv {
    position: relative;
    display: inline-block;
}

div.inputDivInline {
    position: relative;
    display: inline-block;
}

div.labelPlaceholder {
    top: -15px;
    left: 3px;
    background: #0979cc;
    color: white;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    padding: 4px 5px 3px;
    z-index: 10000;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

div.formErrors {
    left: 2px;
    top: 27px;
    background: #cc000a;
    color: white;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    padding: 4px 5px 3px;
    z-index: 10000;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#invoiceForm .radio input[type="radio"], #invoiceForm .checkbox input[type="checkbox"] {
    margin-left: 0px;
}

#invoiceForm .checkbox {
    min-height: 20px;
    padding-left: 5px;
}

td.lineTaxes {
    text-align: left;
}

td.lineTaxes label {
    text-align: left;
    font-size: 0.8em;
    display: inline-block;
}

td.lineTaxes div.tax {
    width: 47%;
    float: left;
}

.ajax_loader {
    display: none;
    background-image: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.ui-autocomplete-loading { background:url('../img/ajax-loader.gif') no-repeat right center }

.input_outside_ajax_load {
    float: right;
    position: absolute;
    top: 8px;
    left: -21px;
}
.input_inside_ajax_load {
    float: right;
    position: absolute;
    top: 8px;
    left: -10px;
}

/* End invoice css */

/* Start alerts css */
#alerts {
    position: relative;
    margin: 10px auto 10px auto;
    /*margin: 20px;*/
}

.notification {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 90%;
}

.notifications_more {
    display: inline-block;
    margin: 0 5px 0 10px;
    font-size: 0.8em;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
/* End alerts css */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.input-xxlarge-medium {
    width: 257px;
}

.wysihtmleditor {
    overflow:scroll;
    /*max-height:300px*/
}

.wysihtml5-action-active, .wysihtml5-command-active {
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
    background: #eee !important;
}

.wysiwyg-font-size-large {
    font-size: large;
}
.wysiwyg-font-size-small {
    font-size: small;
}

ul.wysihtml5-toolbar {
    margin: 0;
    padding: 0;
    display: block;
}

ul.wysihtml5-toolbar::after {
    clear: both;
    display: table;
    content: "";
}

ul.wysihtml5-toolbar > li {
    float: left;
    display: list-item;
    list-style: none;
    margin: 0 5px 10px 0;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
    font-weight: bold;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
    font-style: italic;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
    text-decoration: underline;
}

ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #E6E6E6;
    background-color: #D9D9D9;
    outline: 0;
}

ul.wysihtml5-commands-disabled .dropdown-menu {
    display: none !important;
}

ul.wysihtml5-toolbar div.wysihtml5-colors {
    display:block;
    width: 50px;
    height: 20px;
    margin-top: 2px;
    margin-left: 5px;
    position: absolute;
    pointer-events: none;
}

ul.wysihtml5-toolbar a.wysihtml5-colors-title {
    padding-left: 70px;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] {
    background: black !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] {
    background: silver !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] {
    background: gray !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] {
    background: maroon !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] {
    background: red !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] {
    background: purple !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] {
    background: green !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] {
    background: olive !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] {
    background: navy !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] {
    background: blue !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] {
    background: orange !important;
}

.wysiwyg-font-size-smaller {
    font-size: smaller;
}

.wysiwyg-font-size-larger {
    font-size: larger;
}

.wysiwyg-font-size-xx-large {
    font-size: xx-large;
}

.wysiwyg-font-size-x-large {
    font-size: x-large;
}

.wysiwyg-font-size-large {
    font-size: large;
}

.wysiwyg-font-size-medium {
    font-size: medium;
}

.wysiwyg-font-size-small {
    font-size: small;
}

.wysiwyg-font-size-x-small {
    font-size: x-small;
}

.wysiwyg-font-size-xx-small {
    font-size: xx-small;
}

.wysiwyg-color-black {
    color: black;
}

.wysiwyg-color-silver {
    color: silver;
}

.wysiwyg-color-gray {
    color: gray;
}

.wysiwyg-color-white {
    color: white;
}

.wysiwyg-color-maroon {
    color: maroon;
}

.wysiwyg-color-red {
    color: red;
}

.wysiwyg-color-purple {
    color: purple;
}

.wysiwyg-color-fuchsia {
    color: fuchsia;
}

.wysiwyg-color-green {
    color: green;
}

.wysiwyg-color-lime {
    color: lime;
}

.wysiwyg-color-olive {
    color: olive;
}

.wysiwyg-color-yellow {
    color: yellow;
}

.wysiwyg-color-navy {
    color: navy;
}

.wysiwyg-color-blue {
    color: blue;
}

.wysiwyg-color-teal {
    color: teal;
}

.wysiwyg-color-aqua {
    color: aqua;
}

.wysiwyg-text-align-right {
    text-align: right;
}

.wysiwyg-text-align-center {
    text-align: center;
}

.wysiwyg-text-align-left {
    text-align: left;
}

.wysiwyg-text-align-justify {
    text-align: justify;
}

.wysiwyg-float-left {
    float: left;
    margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
    float: right;
    margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
    clear: right;
}

.wysiwyg-clear-left {
    clear: left;
}