<tr class="invoiceLine">
    <td class="lineDesc" style=" font-size: 9px; color: black; border: none !important;">
        {{ line.description }}
    </td>
    <td class="linePrice" style=" font-size: 9px; color: black; border: none !important;">
        {{ line.netAmount|number_format(2, '.', ',') }} €
    </td>
</tr>